
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Editor folders
.vscode/
.idea/

# Cache
.cache/
.next/
out/
tmp/
temp/
*.tmp

# Dependency directories
bower_components/

# Coverage reports
coverage/

# Uploaded files (optional, if you save them locally)
uploads/

# MongoDB dump files (optional)
dump/

# Custom ignore
*.local.js
